@if $use-clearfix == true {
  //------------------------------------
  //  CLEARFIX
  //------------------------------------
  .clearfix {
     &:after{
      content: "";
      display: table;
      clear: both;
    }
  }
}