// Thanks to inuitcss (https://github.com/csswizardry/inuit.css/blob/master/_defaults.scss)
// for the inspiration to create a default file for variables




//------------------------------------
//  BASE
//------------------------------------

// Base font sizes and colors
$base-font-size:    16px !default;
$base-line-height:  24px !default;
$base-font-color:   #333333 !default;
$base-link-color:   #62b3e7 !default;


// Base font-family
$base-font-family: "Droid Sans", Helvetica, Arial, sans-serif !default;


// Element spacing and line-height ratio
$base-spacing-unit: $base-line-height !default;
$half-spacing-unit: $base-spacing-unit / 2 !default;
$line-height-ratio: $base-line-height / $base-font-size;




//------------------------------------
//  RESPONSIVE
//------------------------------------

// Breakpoints
$extra-small-start: 30em !default;
$small-start:       48em !default;
$medium-start:      60em !default;
$large-start:       70em !default;
$extra-large-start: 80em !default;




//------------------------------------
//  FONT-SIZES
//------------------------------------

// Font-sizes (in pixels)
$giga-size: 96px !default;
$mega-size: 72px !default;
$kilo-size: 64px !default;

$h1-size: 36px !default;
$h2-size: 30px !default;
$h3-size: 24px !default;
$h4-size: 20px !default;
$h5-size: 16px !default;
$h6-size: 14px !default;

$small-size: 12px !default;
$micro-size: 10px !default;




//------------------------------------
//  COLORS
//------------------------------------

// Background colors
$bg-white:        #ffffff !default;
$bg-black:        #222222 !default;
$bg-light-gray:   #f9f9f9 !default;
$bg-gray:         #999999 !default;
$bg-light-green:  #dff0d8 !default;
$bg-green:        #5cb85c !default;
$bg-light-blue:   #d9edf7 !default;
$bg-blue:         #5bc0de !default;
$bg-light-yellow: #fcf8e3 !default;
$bg-yellow:       #ed9c28 !default;
$bg-light-red:    #f2dede !default;
$bg-red:          #d9534f !default;


// Type colors
$color-white:  #ffffff !default;
$color-black:  #222222 !default;
$color-gray:   #999999 !default;
$color-green:  #468847 !default;
$color-blue:   #3a87ad !default;
$color-red:    #d2322d !default;
$color-yellow: #c09853 !default;


// Selection colors
$selection-background: #666666 !default;
$selection-color:      #ffffff !default;


// Form placeholder colors
$placeholder-color: #bbbbbb !default;


// Colors used for our objects' borders, etc
$object-ui-color: #ededed !default;




//------------------------------------
//  OBJECTS
//------------------------------------

// Gutter size
$gutters: 2% !default;


// Prefix for grid columns. By default columns
// are formatted as `.column-8`
$column-prefix: 'column-' !default;


// Dictate how many columns you would like your
// grid system to use. Default is 16.
$column-number:  16 !default;


// Border radius value for `.border-radius` class
$border-radius: 4px !default;




//------------------------------------
//  INCLUDE
//------------------------------------

// Set whatever components you want included
// in your project to `true` and any components
// you do not wish to be included to `false`
//
// Thanks to inuitcss (https://github.com/csswizardry/inuit.css/blob/master/_defaults.scss)
// for the idea to use feature switches in a framework. It's an absolutely brilliant idea
// that makes customization so much easier.


// Utility
$use-normalize:   true !default;
$use-clearfix:    true !default;
$use-shared:      true !default;


// Base
$use-main:           true !default;
$use-selection:      true !default;
$use-container:      true !default;
$use-typography:     true !default;
$use-headings:       true !default;
$use-blockquotes:    true !default;
$use-lists:          true !default;
$use-tables:         true !default;
  $use-table-styles: true !default;
$use-forms:          true !default;
  $use-form-styles:  true !default;
$use-grid:           true !default;
  $use-push:	       false !default;
  $use-pull:	       false !default;


// Objects
$use-type-colors:             true !default;
$use-bg-colors:               true !default;
$use-buttons:                 true !default;
$use-groups:                  true !default;
$use-dropdowns:               true !default;
$use-navigation:              true !default;
  $use-responsive-navigation: true !default;
$use-breadcrumbs:             true !default;
$use-wells:                   true !default;
$use-badges:                  true !default;
$use-progress:                true !default;


// Helpers
$use-helper:      true !default;
$use-conditional: true !default;
$use-print:       true !default;
