table {
  width: 100%;
  width: auto ?if media (--medium);

  thead,
  tfoot {
    background-color: var(--color-background-light);
    text-align: left;
  }

  th,
  td {
    line-height: 1.5lh;
    overflow: visible;
    padding: 0 1em;
  }

  caption {
    font-size: 1;
    font-style: italic;
    line-height: 2lh;
    text-align: center;
  }
}
