//
// Labels
// =============================================================================

.label {
  background-color: getColor(base, primary);
  border-radius: 3px;
  color: getColor(text, ui);
  display: inline-block;
  font-size: pxToEm(12);
  line-height: unitSize(3);
  padding: 0 1em;
}
