@media (max-width: 768px) {
  .element {
    width: 20%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .element {
    width: 30%;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .element {
    width: 40%;
  }
}

@media (min-width: 1200px) {
  .element {
    width: 50%;
  }
}
