:root {
  font: 16px / 1.5 "Helvetica", "Arial", sans-serif;
}

@media (max-width: 500px) {
  :root {
    font-size: 14px;
  }
}

@media print {
  :root {
    font: 11pt / 1.3 "Georgia", "Times New Roman", "Times", serif;
  }
}

p {
  margin-bottom: 1.5rem;
  padding-top: 0.75rem;
}
