//
// Custom Global Variables
// =============================================================================


//
// Base
// ----

// Non-responsive website
// $non-responsive: true !default;

// Transition duration
// $transition-duration: 150ms;

// Breakpoints
// $bp-extra-small: 30em;
// $bp-small:       48em;
// $bp-medium:      60em;
// $bp-large:       70em;
// $bp-extra-large: 80em;

// Base Size (used in unitSize() for proportions)
// $base-unit: 8;

// Spacing
// $spacing-xs: unitSize(1);
// $spacing-s:  unitSize(2);
// $spacing-m:  unitSize(3);
// $spacing-l:  unitSize(4);
// $spacing-xl: unitSize(5);


//
// Grid
// ----

// Prefix for the attributes, you can use 'data-' to make your markup valid
// $prefix: "";

// Max width for container
// $container-width: 1200px;

// Gutter size in pixels (without the unit we can do math easily)
// $gutter: 30;

// Number of columns in a row
// $num-columns: 12;

// If you only want to use the mixins for "semantic grids" set this to true
// $only-semantic: false;


//
// Typography
// ----------

// $font-family:          "Helvetica", "Arial", sans-serif;
// $font-family-headings: "Helvetica", "Arial", sans-serif;
// $font-family-print:    "Georgia", "Times New Roman", "Times", serif;
// $font-family-mono:     "Consolas", monospace;
// $font-base-size:       16;


//
// Heading sizes
// ----------

// $h1-size: 48;
// $h2-size: 36;
// $h3-size: 28;
// $h4-size: 18;
// $h5-size: 16;
// $h6-size: 14;
// $giga-size: 80;
// $mega-size: 64;
// $kilo-size: 52;


//
// Color Palette
// -------------

// Colors
// $colors: (
//   base: (
//     "primary":   #4591aa,
//     "selection": #d6d6d6,
//     "lines":     #e0e0e0
//   ),
//
//   text: (
//     "primary":   #666,
//     "secondary": #aaa,
//     "heading":   #222,
//     "ui":        white
//   ),
//
//   background: (
//     "dark":  #282E31,
//     "light": #f5f5f5,
//     "body":  white
//   ),
//
//   state: (
//     "muted":   #aaa,
//     "primary": #4591aa,
//     "success": #45ca69,
//     "warning": #ffb800,
//     "error":   #ca4829
//   ),
//
//   blue: (
//     "darker":  #495b61,
//     "dark":    #447281,
//     "base":    #4591aa,
//     "light":   #5ab0cc,
//     "lighter": #74cbe8
//   ),
//
//   green: (
//     "darker":  #3b6e6e,
//     "dark":    #3b8686,
//     "base":    #37a1a1,
//     "light":   #2dbaba,
//     "lighter": #69d1d1
//   ),
//
//   cream: (
//     "darker":  #c47858,
//     "dark":    #e29372,
//     "base":    #ecac91,
//     "light":   #f9c2ab,
//     "lighter": #fdd5c3
//   ),
//
//   red: (
//     "darker":  #653131,
//     "dark":    #b73333,
//     "base":    #da3c3c,
//     "light":   #f25a5a,
//     "lighter": #fa8181
//   ),
//
//   gray: (
//     "darker":  #333333,
//     "dark":    #4d4d4d,
//     "base":    #666666,
//     "light":   #808080,
//     "lighter": #999999
//   )
// );
