 @if $use-navigation == true {
  //------------------------------------
  //  NAVIGATION
  //------------------------------------
  nav {
    ul {
      list-style: none;
      margin: 0;
    }

    li {
      cursor: pointer;
      position: relative;
    }


    // Dropdown
    .dropdown li { margin-right: 0px; }
  }


  @if $use-navigation-styles == true {
    // Nested dropdown
    .nav-dropdown {
      ul {
        ul,
        ul ul,
        ol ul,
        ul ol,
        ol ol {
          display: none;
          left: 0;
          margin: 0;
          opacity: 0;
          padding: 0;
          position: absolute;
          visibility: hidden;
          width: 150px;
          z-index: 99999;
        }
      }

      ol {
        ol,
        ul,
        ul ul,
        ul ol {
          display: none;
          left: 0;
          margin: 0;
          opacity: 0;
          padding: 0;
          position: absolute;
          visibility: hidden;
          width: 150px;
          z-index: 99999;
        }
      }

      .list-inline li li,
      &.list-inline li li { margin-right: 0px; }

      li li {
        background: #fff;
        display: block;
      }

      ul,
      ol {
        ul ul,
        ol ul,
        ul ol,
        ol ol { display: block; }
      }

      ul li:hover,
      ol li:hover {
        ul,
        ol {
          display: block;
          opacity: 1;
          top: 100%;
          visibility: visible;
        }

        ul ul,
        ol ul,
        ul ol,
        ol ol {
          display: none;
          opacity: 0;
          visibility: hidden;
        }
      }

      ul,
      ol {
        ul li:hover,
        ol li:hover {
          ul,
          ol {
            display: block;
            left: 100%;
            opacity: 1;
            position: absolute;
            top: 0;
            visibility: visible;
          }
        }
      }
    }
  }


  @if $use-responsive-navigation == true {
    // Responsive navigation
    //
    // Thanks to Ben Plum for the great work on his
    // Naver plugin (https://github.com/benplum/Naver/)
    .naver {
      .naver-handle {
        color: inherit;
        cursor: pointer;
        display: none;
        @include font-size(24px);
        text-align: right;
        text-transform: uppercase;

        @include vendor(user-select, none, ms official);
      }

      .naver-wrapper {
        height: auto;
        width: 100%;
      }

      &.enabled {
        .naver-handle { display: block; }

        .naver-wrapper {
          height: 0px;
          overflow: hidden;

          li {
            display: block;
            padding: 8px;
            text-align: left;
            width: 100%;

            &:hover { background: #f9f9f9; }
          }
        }
      }
    }

    .nav-responsive {
      &.naver .naver-handle:after {
        content: "\2261";
        text-align: right;
      }

      &.nav-responsive-text.naver {
        .naver-handle:after { content: "\00a0 \2261"; }

        .naver-container:before {
          clear: both;
          content: ".";
          display: block;
          height: 0;
          line-height: 0;
          text-align: right;
          visibility: hidden;
        }
      }
    }


    // Left-aligned responsive navigation
    .nav-responsive-left {
      &.naver .naver-handle {
        text-align: left;

        &:before {
          content: "\2261";
          text-align: left;
        }
      }

      &.nav-responsive-text.naver {
        .naver-handle:before { content: "\2261 \00a0"; }

        .naver-container:after {
          clear: both;
          content: ".";
          display: block;
          height: 0;
          line-height: 0;
          text-align: left;
          visibility: hidden;
        }
      }
    }


    // Centered responsive navigation
    .nav-responsive-center {
      &.naver .naver-handle {
        text-align: center;

        &:before {
          content: "\2261";
          text-align: center;
        }
      }

      &.nav-responsive-text.naver {
        .naver-handle:before { content: "\2261 \00a0"; }

        .naver-container:after {
          clear: both;
          content: ".";
          display: block;
          height: 0;
          line-height: 0;
          text-align: center;
          visibility: hidden;
        }
      }
    }
  }
}
