//
// Headings
// =============================================================================


//
// Variables
// ---------

// Type Scale Ratio
//
// Suggested ratios:
// 1.067 — Minor Second
// 1.125 — Major Second
// 1.200 — Minor Third
// 1.250 — Major Third
// 1.333 — Perfect Fourth
// 1.414 — Augmented Fourth
// 1.500 — Perfect Fifth
// 1.618 — Golden Ratio
// Source: http://type-scale.com/
$font-ratio-size:      1.333 !default;

// Scale
$h6-size:   $font-base-size / $font-ratio-size !default;
$h5-size:   $font-base-size !default;
$h4-size:   $font-base-size * $font-ratio-size !default;
$h3-size:   $h4-size * $font-ratio-size !default;
$h2-size:   $h3-size * $font-ratio-size !default;
$h1-size:   $h2-size * $font-ratio-size !default;
$kilo-size: $h1-size * $font-ratio-size !default;
$mega-size: $kilo-size * $font-ratio-size !default;
$giga-size: $mega-size * $font-ratio-size !default;

// Font family
$font-family-headings: "Helvetica", "Arial", sans-serif !default;


//
// Styles
// ------

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
.giga, .mega, .kilo {
  color: getColor(text, heading);
  font-family: $font-family-headings;
  line-height: 1.25em;

  small,
  .small {
    color: getColor(text, secondary);
    font-weight: lighter;
    vertical-align: 0;
  }
}

h1, h2, h3,
.h1, .h2, .h3,
.giga, .mega, .kilo {
  margin: unitSize(3, -4) 0 unitSize(1, 2);

  small,
  .small { font-size: 65%; }
}

h4, h5, h6,
.h4, .h5, .h6 {
  margin: unitSize(1, 2) 0;

  small,
  .small { font-size: 75%; }
}

h1,
.h1 {
  font-size: pxToEm($h1-size * .75);

  @media (min-width: $bp-small) {
    font-size: pxToEm($h1-size);
  }
}

h2,
.h2 {
  font-size: pxToEm($h2-size * .75);

  @media (min-width: $bp-small) {
    font-size: pxToEm($h2-size);
  }
}

h3,
.h3 {
  font-size: pxToEm($h3-size * .75);

  @media (min-width: $bp-small) {
    font-size: pxToEm($h3-size);
  }
}

h4,
.h4 { font-size: pxToEm($h4-size); }

h5,
.h5 { font-size: pxToEm($h5-size); }

h6,
.h6 { font-size: pxToEm($h6-size); }


//
// Sizes
// -----

// Giga
.giga {
  font-size: pxToEm($giga-size * .75);

  @media (min-width: $bp-small) {
    font-size: pxToEm($giga-size);
  }
}

// Mega
.mega {
  font-size: pxToEm($mega-size * .75);

  @media (min-width: $bp-small) {
    font-size: pxToEm($mega-size);
  }
}

// Kilo
.kilo {
  font-size: pxToEm($kilo-size * .75);

  @media (min-width: $bp-small) {
    font-size: pxToEm($kilo-size);
  }
}


//
// Non-Responsive
// --------------

@if $non-responsive == true {
  .nonresponsive {
    h1,
    .h1 { font-size: pxToEm($h1-size); }

    h2,
    .h2 { font-size: pxToEm($h2-size); }

    h3,
    .h3 { font-size: pxToEm($h3-size); }

    .giga { font-size: pxToEm($giga-size); }

    .mega { font-size: pxToEm($mega-size); }

    .kilo { font-size: pxToEm($kilo-size); }
  }
}
