//
// Lists
// =============================================================================

ul,
ol {
  padding-left: 1.5em;
  margin-bottom: 0.25lh;

  ul,
  ol { margin-bottom: 0; }
}

ul {
  ul { list-style-type: square; }

  ol { list-style-type: lower-roman; }
}

ol {
 ol { list-style-type: lower-roman; }

 ul { list-style-type: square; }
}

//
// Navigation lists
// ----------------

nav {
  ul { padding-left: 0; }
  li { list-style: none; }
}


//
// Modifiers
// ---------

// Unstyled
.list--unstyled {
  list-style: none;
  padding-left: 0;

  li { padding-left: 0; }
}

// Inline
.list--inline li {
  display: inline;
  list-style: none;
  padding-left: 1.5em;

  &:first-child { padding-left: 0; }
}


//
// Definition Lists
// ----------------

dl { margin-bottom: 1lh; }

dt { font-weight: bold; }

dt,
dd { margin-bottom: 0.25lh; }

// Horizontal definition list
.dl--horizontal {
  @media (--large) {
    dt {
      clear: left;
      float: left;
      overflow: hidden;
      text-align: right;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 150px;
    }

    dd {
      @include clearfix();

      margin-left: 165px;
    }
  }
}

@if $non-responsive == true {
  .nonresponsive {
    .dl--horizontal {
      dt {
        clear: left;
        float: left;
        overflow: hidden;
        text-align: right;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 150px;
      }

      dd {
        @include clearfix();

        margin-left: 165px;
      }
    }
  }
}
