//
// Type Styles
// =============================================================================

//
// Defaults
// --------

small {
  font-size: 75%;
  vertical-align: text-bottom;
}

sup,
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "sups" 1;
}

sub {
  bottom: -0.25em;
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "subs" 1;
}

s { text-decoration: line-through; }


//
// Paragraphs
// --------

p:not(:last-child) { margin-bottom: 1lh; }


//
// Links
// -----

a {
  background-color: transparent;
  color: getColor(base, primary);
  cursor: pointer;
  text-decoration: none;
  transition: $transition-duration;

  &:hover,
  &:focus { color: darken(getColor(base, primary), 15%); }
}

h1, h2, h3,
.h1, .h2, .h3 {
  a {
    color: getColor(text, primary);

    &:hover,
    &:focus {
      color: getColor(base, primary);
      text-decoration: none;
    }
  }
}


//
// Abbreviations
// -------------
// 1. Change all letters to uppercase
// 2. Turn on small caps for upper and lowercase letters
//

abbr {
  text-transform: uppercase; /* 1 */
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "smcp" 1, "c2sc" 1; /* 2 */

  &[title] {
    border-bottom: 1px dotted getColor(base, lines);
    cursor: help;
  }
}


//
// Pre, Code, and User Input
// -------------------------

code,
pre,
kbd,
samp {
  font-family: $font-family-mono;
  font-size: 14pe;
}

pre { padding: 0.5lh 1.5em; }

code {
  vertical-align: middle;
  white-space: nowrap;
}

code,
pre {
  background-color: getColor(background, light);
  border: 1px solid getColor(base, lines);
  border-radius: 3px;
  color: darken(getColor(text, primary), 5%);
  margin-bottom: 1lh;
}

code { padding: 2px 3px; }

pre code {
  background-color: transparent;
  border: none;
  padding: 0;
  vertical-align: inherit;
  white-space: pre;
}

.pre--flat {
  background-color: transparent;
  border: 0;
  border-radius: none;
  padding: 0;
}

kbd {
  background-color: transparent;
  border: 1px solid getColor(base, lines);
  border-radius: 3px;
  box-shadow: 0 2px 0 -1px white,0 2px 0 darken(getColor(base, lines), 1.5%);
  display: inline-block;
  line-height: 1.75;
  margin: -3px 2px 0;
  padding: 2px 6px 0;
  white-space: nowrap;
}

samp { vertical-align: bottom; }


//
// Addresses
// ---------

address { font-style: normal; }
