@if $use-blockquotes == true {
  //------------------------------------
  //  BLOCKQUOTES
  //------------------------------------
  blockquote {
    border-left: 1px solid #ddd;
    color: #777;
    font-style: italic;
    margin: 1em 2em;
    padding-left: 1em;
    text-align: left;
    
    cite {
      color: #555;
      display: block;
      @include font-size(14px);
      
      &:before { content: "\2014 \0020"; }
      
      a {
        color: #555;
        
        &:visited { color: #555; }
      }
    }
    
    
    // Reversed blockquote
    &.blockquote-reverse {
      border-left: none;
      border-right: 1px solid #ddd;
      padding: 0 1em 0 0;
      text-align: right;
    }
  }
}