@if $use-main == true {
  //------------------------------------
  //  MAIN
  //------------------------------------

  // Variables
  $font-size: #{($base-font-size / 16px) * 1em};
  $line-height-integer: #{$line-height-ratio};

  *{
    &,
    &:before,
    &:after { box-sizing: border-box; }
  }

  html,
  body {
    background-color: $website-bg-color;
    color: $base-font-color;
    font: normal normal $font-size/$line-height-integer $base-font-family;
    margin: 0;

    @if $enable-font-smoothing == true {
      font-smooth: always;

      -webkit-font-smoothing: antialiased;
      -moz-font-smoothing: antialiased;
    }
  }

  html[dir="rtl"] { direction: rtl; }
}
