@if $use-print == true {
  //------------------------------------
  //  PRINT
  //------------------------------------
  @media print {
    @page { margin: 0.5cm; }

    *,
    *:before,
    *:after {
      background: transparent !important;
      color: black !important;
      filter: none !important;
      text-shadow: none !important;
    }

    body {
      background-color: #fff;
      color: #000;
      font: 0.57em / 1.3 $base-print-font-family;
    }

    img { max-width: 100% !important; }

    .show-print {
      display: block;
      visibility: visible;
    }

    .hide-print,
    video,
    audio,
    object,
    embed,
    nav,
    footer,
    a[href^="#"]:after {
      display: none;
      visibility: hidden;
    }

    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }

    h2,
    h3 { page-break-after: avoid; }

    a,
    a:visited {
      color: #000;
      text-decoration: underline;
      word-wrap: break-word;

      &[href]:after {
        content: " (" attr(href) ")";
        font-size: smaller;
      }
    }

    q:after { content: " (Source: " attr(cite) ")"; }

    abbr[title]:after { content: " (" attr(title) ")"; }

    a {
      &:after,
      &[href^="javascript:"]:after,
      &[href^="#"]:after { content: ""; }
    }

    pre,
    blockquote {
      border: 1px solid #ededed;
      page-break-inside: avoid;
    }

    thead { display: table-header-group; }

    tr,
    img { page-break-inside: avoid; }

    ul {
      list-style: none;

      li { content: "&raquo; "; }
    }
  }
}
