@if $use-selection == true {
  //------------------------------------
  //  SELECTION
  //------------------------------------

  // Selection Style
  * {
    &::-webkit-selection {
      background-color: $selection-background;
      color: $selection-color;
    }

    &::-moz-selection {
      background-color: $selection-background;
      color: $selection-color;
    }

    &::selection {
      background-color: $selection-background;
      color: $selection-color;
    }
  }
}
