@if $use-typography == true {
  //------------------------------------
  //  TYPE
  //------------------------------------

  // Variables
  $small-size: 12px !default;
  $micro-size: 10px !default;


  // Links
  a {
    color: $base-link-color;

    &:hover,
    &:visited {
      color: lighten($base-link-color, 10%);
      cursor: pointer;
    }

    p & {
      &,
      &:visited { line-height: inherit; }
    }
  }


  // Sizing
  small,
  .small {
    @include font-size($small-size);
  }

  .micro {
    @include font-size($micro-size);
  }


  // Addresses
  address { font-style: normal; }


  // Other elements
  abbr {
    &[title],
    &[data-original-title] {
      cursor: help;
      border-bottom: 1px dotted #999;
    }
  }

  acronym {
    cursor: help;
    border-bottom: 1px dashed $base-link-color;
  }
}
