@if $use-vertical-rhythm == true {
  //------------------------------------
  //  SHARED
  //------------------------------------

  // Thanks to inuitcss for some simple ways to help maintain
  // vertical rhythm (https://github.com/csswizardry/inuit.css/edit/master/generic/_shared.scss)

  // Declare a common bottom margin for most elements
  // to maintain a consistent vertical rhythm.
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6,
  .giga, .mega, .kilo,
  hgroup,
  ul, ol, dl,
  blockquote, p, address,
  table,
  fieldset, figure,
  pre,
  .row, .form-item {
    margin-bottom: $base-spacing-unit;
    margin-bottom: ($base-spacing-unit / $base-font-size) * 1rem;
  }


  // Spacing for <hr> tags
  hr {
    margin-bottom: $base-spacing-unit - 2px;
    margin-bottom: (($base-spacing-unit - 2px) / $base-font-size) * 1rem;
  }


  // Left margin for lists
  ul,
  ol,
  dd {
    margin-left: 2 * $base-spacing-unit;
    margin-left: (2 * $base-spacing-unit / $base-font-size) * 1rem;
  }
}
