@if $use-badges == true {
  //------------------------------------
  //  BADGES
  //------------------------------------
  .label, 
  .badge {
    background-color: #b5b5b5;
    color: #fff;
    @include font-size(12px); 
    font-weight: bold;
    padding: 3px 7px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
  }

  .label {
    border-radius: 4px;
    display: inline;
  }

  .badge {
    border-radius: 10px;
    display: inline-block;
    padding: 1px 7px; 
  }

  .label[href] {
    &:hover, &:focus {
      color: #fff;
      cursor: pointer;
      text-decoration: none;
    }
  }

  a.badge {
    &:hover, &:focus {
      color: #fff;
      cursor: pointer;
      text-decoration: none;
    }
  }

  .label a, 
  .badge a {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
  }

  .label:empty, 
  .badge:empty { display: none; }
}