@if $use-breadcrumbs == true {
  //------------------------------------
  //  BREADCRUMBS
  //------------------------------------
  .breadcrumbs {
    @include font-size(13px);
    margin: 12px 0;
    padding: 5px 15px 5px 0;
    
    li {
      display: inline;
      margin-right: 10px;
      
      &:last-child { margin-right: 0px; }
      
      &:after {
        content: "/";
        color: #ccc;
        padding-left: 12px;
        vertical-align: middle;
      }
      
      &:last-child {
        color: #999;
        
        a { color: #999; }
        
        &:after { content: ""; }
      }
    }
    
    .well,
    &.well { padding-left: 15px; }
  }
}