@if $use-buttons == true {
  //------------------------------------
  //  BUTTONS
  //------------------------------------
  .btn {
    background-color: #ccc;
    border: 0;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 100%;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1;
    margin: 12px auto;
    outline: none;
    padding: 15px 48px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    vertical-align: baseline;
    white-space: nowrap;
    width: 100%;
    
    -webkit-touch-callout: none;
    
    @include vendor(user-select, none);
    
    @include vendor(user-drag, none);
    
    @include vendor(transition, all 0.3s);
    
    &::-moz-focus-inner {
      padding: 0;
      border: 0;
    }
    
    &:after {
      content: "";
      position: absolute;
      z-index: -1;
    }
    
    &:hover {
      background-color: #b5b5b5;
      background-image: -webkit-gradient(linear, 50, 50, 50 100%, from(rgba(50, 50, 50, 0.05)), to(rgba(50, 50, 50, 0.05)));
      background-image: -webkit-linear-gradient(top, rgba(50, 50, 50, 0.05), rgba(50, 50, 50, 0.05));
      background-image: -moz-linear-gradient(top, rgba(50, 50, 50, 0.05), rgba(50, 50, 50, 0.05));
      background-image: -o-linear-gradient(top, rgba(50, 50, 50, 0.05), rgba(50, 50, 50, 0.05));
      background-image: linear-gradient(to bottom, rgba(50, 50, 50, 0.05), rgba(50, 50, 50, 0.05));
      background-repeat: repeat-x;
    }
    
    &:active {
      background-image: -webkit-gradient(linear, 50, 50, 50 100%, from(rgba(50, 50, 50, 0.1)), to(rgba(50, 50, 50, 0.1)));
      background-image: -webkit-linear-gradient(top, rgba(50, 50, 50, 0.1), rgba(50, 50, 50, 0.1));
      background-image: -moz-linear-gradient(top, rgba(50, 50, 50, 0.1), rgba(50, 50, 50, 0.1));
      background-image: -o-linear-gradient(top, rgba(50, 50, 50, 0.1), rgba(50, 50, 50, 0.1));
      background-image: linear-gradient(to bottom, rgba(50, 50, 50, 0.1), rgba(50, 50, 50, 0.1));
      background-repeat: repeat-x;
    }
    
    &[disabled] {
      background: #dededc !important;
      border: none;
      color: #b3b3b1;
      cursor: default;
      
      &:hover, 
      &:active,
      &:focus {
        background: #dededc !important;
        border: none;
        color: #b3b3b1;
        cursor: default;
      }
    }
  }

  @include breakpoint(small) {
    .btn {
      display: inline-block;
      *display: inline;
      margin: 0px;
      width: auto;
      zoom: 1;
    }
    
    .btn-extra-small, 
    a.btn-extra-small, 
    p.btn-extra-small, 
    input.btn-extra-small {
      @include font-size(11px); 
      padding: 5px 16px;
    }
    
    .btn-small, 
    a.btn-small, 
    p.btn-small, 
    input.btn-small {
      @include font-size(12px); 
      padding: 10px 32px;
    }
    
    .btn-large, 
    a.btn-large, 
    p.btn-large, 
    input.btn-large { padding: 20px 64px; }
    
    .btn-extra-large, 
    a.btn-extra-large, 
    p.btn-extra-large, 
    input.btn-extra-large { padding: 25px 80px; }
  }

  a.btn {
    color: #fff;
    text-decoration: none;
    
    &:hover {
      color: #fff;
      text-decoration: none;
    }
    
    &:active { outline: 0; }
  }

  input[type="submit"].btn {
    color: #fff;
    height: auto;
  }

  button.btn { color: #fff; }

  .btn {
    &.bg-white { color: #333; }
    
    
    // Bordered 
    &.btn-border {
      background: transparent;
      border-color: #ddd;
      border-style: solid;
      border-width: 1px;
      color: #aaa;
      
      &:hover {
        background: #ddd;
        color: #fff !important;
      }
      
      &.white {
        border-color: $bg-white;
        
        &:hover {
          background: $bg-white;
          color: $color-black !important;
        }
      }
    }
  }


  // Bordered white 
  a.btn.btn-border.white:hover {
    background: $bg-white;
    color: $color-black !important;
  }

  .btn.btn-border.white, 
  a.btn.btn-border.white { color: $color-white; }

  .btn.btn-border {
    &.white {
      &:active, &:focus { background-color: #f9f9f9; }
    }
    
    
    // Bordered black 
    &.black {
      border-color: $bg-black;
      color: $color-black;
      
      &:hover { background-color: $bg-black; }
      
      &:active, &:focus { background-color: $bg-black; }
    }
    
    
    // Bordered gray 
    &.gray {
      border-color: $bg-gray;
      color: $color-gray;
      
      &:hover { background-color: $bg-gray; }
      
      &:active, &:focus { background-color: darken($bg-gray, 15%); }
    }
    
    
    // Bordered green 
    &.green {
      border-color: $bg-green;
      color: $color-green;
      
      &:hover { background-color: $bg-green; }
      
      &:active, &:focus { background-color: darken($bg-green, 15%); }
    }
    
    
    // Bordered blue 
    &.blue {
      border-color: $bg-blue;
      color: $color-blue;
      
      &:hover { background-color: $bg-blue; }
    
      &:active, &:focus { background-color: darken($bg-blue, 15%); }
    }
    
    
    // Bordered yellow 
    &.yellow {
      border-color: $bg-yellow;
      color: $color-yellow;
      
      &:hover { background-color: $bg-yellow; }
      
      &:active, &:focus { background-color: darken($bg-yellow, 15%); }
    }
    
    
    // Bordered red 
    &.red {
      border-color: $bg-red;
      color: $color-red;
      
      &:hover { background-color: $bg-red; }
      
      &:active, &:focus { background-color: darken($bg-red, 15%); }
    }
  }


  // Dropdown 
  .btn.dropdown {
    width: 100%;
    
    .dropdown-menu {
      margin-top: auto;
      text-align: left;
      top: 100%;
      width: 100%;
    }
    
    &[class*='dropdown-arrow-'] .dropdown-menu { margin-top: 10px; }
    
    &.up {
      .dropdown-menu {
        margin-bottom: 0px;
        top: auto;
      }
      
      &[class*='dropdown-arrow-'] .dropdown-menu { margin-bottom: 10px; }
    }
  }

  @include breakpoint(small) {
    .btn-extra-small .caret, 
    .btn-small .caret {
      border-top: 4px solid;
      border-right: 4px solid transparent;
      border-left: 4px solid transparent;
    }
    
    .btn.dropdown {
      width: auto;
      
      &.extra-small .dropdown-menu { margin-top: 6px; }
      
      &.dropdown-small .dropdown-menu { margin-top: 11px; }
      
      &.dropdown-large .dropdown-menu { margin-top: 21px; }
    }
  }
}