@if $use-progress == true {
  //------------------------------------
  //  PROGRESS
  //------------------------------------
  
  // Thanks to Chris Coyier's article on 
  // CSS3 Progress Bars which helped me create
  // these (http://css-tricks.com/css3-progress-bars/)
  .progress {
    background-color: #f9f9f9;
    color: #fff;
    @include font-size(11px, false); 
    height: 12px;
    line-height: 1.182;
    margin: 6px 0;
    position: relative;
    text-align: center;
    width: 100%;
    
    @include vendor(box-shadow, inset 0 1px 1px rgba(100, 100, 100, 0.1));
    
    @include vendor(box-sizing, initial);
  }

  .progress-small {
    @include font-size(9px, false); 
    height: 6px;
    line-height: 0.875;
  }

  .progress-large {
    @include font-size($base-font-size, false); 
    height: 25px;
    line-height: 1.7;
  }

  .progress {
    > span {
      background-color: rgb(43, 194, 83);
      display: block;
      height: 100%;
      overflow: hidden;
      position: relative;
      width: auto;
    }
    
    
    // Rounded corners
    &.border-radius > span { border-radius: $border-radius; }
    
    
    // Stacked
    &.progress-stacked {
      > span {
        display: inline-block;
        float: left;
      }
      
      &.border-radius > span {
        border-radius: 0px;
        
        &:first-of-type { border-radius: $border-radius 0 0 $border-radius; }
        
        &:last-of-type { border-radius: 0 $border-radius $border-radius 0; }
      }
    }
  }


  // Striped
  .progress-striped {
    > span {
      &:after, > span {
        bottom: 0;
        content: "";
        left: 0;
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;

        @include vendor(background-size, 50px 50px);
        
        background-image: 
          -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.25, rgba(255, 255, 255, 0.2)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.75, rgba(255, 255, 255, 0.2)), color-stop(0.75, transparent), to(transparent));
        background-image: 
          -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
      }
    }
    
    
    // Animated 
    &.progress-animate > span {
      &:after, > span {       
        @include vendor(animation, move 2s linear infinite);
      }
    }
  }

  @-webkit-keyframes move {
    0% { background-position: 0 0; }
    
    100% { background-position: 50px 50px; }
  }
}