@if $use-wells == true {
  //------------------------------------
  //  WELLS
  //------------------------------------
  .well {
    background-color: #f9f9f9;
    border-color: #ededed;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 24px;
    padding: 0px 15px;
    
    h1, h2, h3, h4, h5, h6,
    .h1, .h2, .h3, .h4, .h5, .h6,
    .giga, .mega, .kilo { color: inherit; }
    
    p { margin: 10px 0; }
    
    pre, 
    .pre.well {
      @include font-size(14px); 
      padding: 10px 15px;
    }
  }

  .well {
    // Headings
    header {
      h1, h2, h3, h4, h5, h6,
      .h1, .h2, .h3, .h4, .h5, .h6,
      .giga, .mega, .kilo { margin: 20px 0 10px; }
      
      .label, 
      .badge { margin-top: 10px; }
    }
    
    
    // Background colors 
    &[class*='bg-'] { color: #fff; }
    
    &.bg-white { color: #666; }
    
    &.bg-black { border-color: #000; }
    
    &.bg-green { border-color: darken($bg-green, 15%); }
    
    &.bg-light-green {
      border-color: darken($bg-green, 15%);
      color: $color-green;
    }
    
    &.bg-blue { border-color: darken($bg-blue, 15%); }
    
    &.bg-light-blue {
      border-color: darken($bg-blue, 15%);
      color: $color-blue;
    }
    
    &.bg-yellow { border-color: darken($bg-yellow, 15%); }
    
    &.bg-light-yellow {
      border-color: darken($bg-yellow, 15%);
      color: $color-yellow;
    }
    
    &.bg-red { border-color: darken($bg-red, 15%); }
    
    &.bg-light-red {
      border-color: darken($bg-red, 15%);
      color: $color-red;
    }
  }


  // Close icon
  .close {
    color: #000;
    filter: alpha(opacity = 20);
    float: right;
    @include font-size(22px); 
    font-weight: bold;
    opacity: .2;
    
    &:hover, &:focus {
      color: #000;
      cursor: pointer;
      filter: alpha(opacity = 50);
      opacity: .5;
      text-decoration: none;
      
      @include vendor(transition, all 0.2s linear);
    }
  }

  button.close {
    background: transparent;
    border: 0;
    cursor: pointer;
    padding: 0;
  }

  .well .close { margin-top: 6px; }
}