//
// Blockquotes
// =============================================================================

blockquote {
  border-left: 1px solid getColor(base, lines);
  color: getColor(text, secondary);
  margin-bottom: 1lh;
  padding: 0 1em;

  cite,
  footer {
    display: block;
    // Use the next smaller size in the scale
    font-size: 100% / $type-ratio-primary;
    font-style: italic;
    margin-top: 0.25lh;

    @media (breakpoint) {
      font-size: 100% / $type-ratio-secondary;
    }
  }

  cite:before,
  footer:before { content: "\2014 \00A0"; }
}
