//
// Buttons
// =============================================================================

button {
  background-color: getColor(base, primary);
  border: none;
  color: getColor(text, ui);
  cursor: pointer;
  display: inline-block;
  font-size: 14pr;
  line-height: 1.5lh;
  overflow: visible;
  padding: 0 1.5em;
  text-align: center;
  text-decoration: none;
  transition: $transition-duration;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: lighten(getColor(base, primary), 15%);
    color: getColor(text, ui);
    text-decoration: none;
  }

  &:focus,
  &:active { outline: none; }

  &:active { background-color: lighten(getColor(base, primary), 10%); }

  &[disabled] {
    background-color: darken(getColor(background, light), 10%);
    color: getColor(text, ui);
    cursor: not-allowed;
    opacity: 0.6;
  }
}
