//
// Forms
// =============================================================================

input:not([type="submit"]),
select,
textarea {
  transition-duration: $transition-duration;
  width: 100%;
  font-size: typeScale(1);
  min-height: 1.5lh;

  &:focus {
    border-color: getColor(blue, lighter);
  }

  &[disabled] {
    background-color: getColor(state, muted);
    cursor: not-allowed;
    border: 0;
  }
}

input:not([type="submit"]):not([type="range"]),
select,
textarea {
  border: 1px solid getColor(base, lines);
  padding: 0 0.75em;
}

input[type="checkbox"],
input[type="file"],
input[type="image"],
input[type="radio"] {
  height: auto;
  width: auto;
}

input[type="checkbox"],
input[type="radio"] {
  line-height: normal;
  padding: 0;
  vertical-align: middle;
}

input[type="file"] {
  border: none;
  line-height: 1lh;
  padding: 0;
}

select {
  background-color: transparent;
  padding-left: 0.5em;
  width: auto;
  min-width: 10em;
  height: 1.5lh;

  &[disabled] { color: getColor(text, secondary); }

  &[multiple] {
    height: auto;
    width: 100%;
    padding: 0;
  }

  &::-ms-expand { display: none; }

  &::-ms-value { color: currentColor; }

  option { padding: 0 0.75em }
}

label {
  display: block;
  font-size: typeScale(1);
  line-height: 1.5lh;
}

// Labels are inline with their checkbox and radio elements
input[type="checkbox"] + label,
input[type="radio"] + label {
  display: inline-block;
  margin-left: 0.5em;
}