//
// Print
// =============================================================================

@media print {
  @page { margin: 2cm; }

  *,
  *:before,
  *:after {
    background: transparent !important;
    color: black !important;
    filter: none !important;
    text-shadow: none !important;
  }

  :root {
    background-color: white;
    color: black;
    font: 12pt / 1.4 $font-print-primary;
  }

  body {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  h1, h2, h3, h4, h5, h6 {
    page-break-after: avoid;
    font-family: $font-print-secondary;
  }

  h1 { font-size: 19pt; }
  h2 { font-size: 17pt; }
  h3 { font-size: 15pt; }
  h4, h5, h6 {font-size: 14pt; }

  img {
    max-width: 100% !important;
    page-break-after: avoid;
    page-break-inside: avoid;
  }

  video,
  audio,
  object,
  embed,
  nav,
  footer,
  a[href^="#"]:after {
    display: none;
    visibility: hidden;
  }

  p,
  h2, h3 {
    orphans: 3;
    widows: 3;
  }

  a,
  a:visited {
    color: black;
    font-size: .57em;
    text-decoration: underline;
    word-wrap: break-word;

   &[href]:after {
     content: " (" attr(href) ")";
     font-size: smaller;
   }
  }

  q:after { content: " (Source: " attr(cite) ")"; }

  abbr[title]:after { content: " (" attr(title) ")"; }

  a {
   &:after,
   &[href^="javascript:"]:after,
   &[href^="#"]:after { content: ""; }
  }

  pre,
  code {
    background-color: transparent;
    border: 1px solid getColor(base, lines);
    page-break-inside: avoid;
  }

  blockquote {
    border: none;
    page-break-inside: avoid;
  }

  thead { display: table-header-group; }

  tr,
  img { page-break-inside: avoid; }

  ol { padding-left: 1.25em; }

  ul {
    padding-left: 0;
    list-style: none;

    ul,
    ul ul { padding-left: 1.5em; }
  }

  ul,
  ol {
   li { content: "&raquo; "; }
  }
}
