//
// Typography Styles
// =============================================================================

small,
sup,
sub {
  // Use the next smaller size in the scale
  font-size: 100% / $scale-ratio;
}

sup,
sub {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.25em;
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "sups" 1;
}

sub {
  bottom: -0.25em;
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "subs" 1;
}

address { font-style: normal; }

//
// Links
// --------------------------------------------------

a {
  background-color: transparent;
  color: getColor(base, primary);
  cursor: pointer;
  text-decoration: none;
  transition: $transition-duration;

  &:hover,
  &:focus { color: darken(getColor(base, primary), 15%); }
}

//
// Headings
// --------------------------------------------------

h1, h2, h3, h4, h5, h6 {
  color: getColor(text, heading);
  font-family: $font-secondary;
  line-height: 1.3;

  small {
    color: inherit;
    vertical-align: 0;

    // Use the next smaller size in the scale
    font-size: 100% / $scale-ratio;
  }
}

h1, h2, h3 {
  margin: 0.5lh 0 0.25lh;

  a {
    color: inherit;

    &:hover,
    &:focus {
      color: getColor(base, primary);
      text-decoration: none;
    }
  }
}

h4, h5, h6 { margin: 0.25lh 0; }

h1 { font-size: typeScale(6); }
h2 { font-size: typeScale(5); }
h3 { font-size: typeScale(4); }
h4 { font-size: typeScale(3); }
h5 { font-size: typeScale(2); }
h6 { font-size: typeScale(1); }

//
// Abbreviations
// --------------------------------------------------
// 1. Change all letters to uppercase
// 2. Turn on small caps for upper and lowercase letters
//

abbr {
  text-transform: uppercase; /* 1 */
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "smcp" 1, "c2sc" 1; /* 2 */

  &[title] {
    text-decoration: none;
    border-bottom: 1px solid getColor(base, lines);
    cursor: help;
  }
}

//
// Pre, Code, and User Input
// -------------------------

code,
pre,
kbd,
samp {
  font-family: $font-mono;
  font-size: typeScale(1);
  background-color: getColor(background, light);
}

pre { padding: 0.5lh 1em; }

code {
  vertical-align: middle;
  padding: 2px 3px;
}

kbd {
  background-color: transparent;
  border: 1px solid getColor(base, lines);
  box-shadow: 0 2px 0 -1px white,
              0 2px 0 darken(getColor(base, lines), 1.5%);
  display: inline-block;
  padding: 0 6px 0;
}

samp { vertical-align: bottom; }

//
// Blockquote
// --------------------------------------------------

blockquote {
  border-left: 1px solid getColor(base, lines);
  color: getColor(text, secondary);
  margin-bottom: 1lh;
  padding: 0 1em;

  cite,
  footer {
    display: block;
    // Use the next smaller size in the scale
    font-size: 100% / $scale-ratio;
    font-style: italic;
    margin-top: 0.25lh;
  }

  cite:before,
  footer:before { content: "\2014 \00A0"; }
}

//
// Lists
// --------------------------------------------------

ul,
ol {
  padding-left: 1.5em;
  margin-bottom: 0.25lh;

  ul,
  ol { margin-bottom: 0; }
}

ul {
  ul { list-style-type: square; }

  ol { list-style-type: lower-roman; }
}

ol {
  ol { list-style-type: lower-roman; }

  ul { list-style-type: square; }
}

//
// Navigation lists
// --------------------------------------------------

nav {
  ul { padding-left: 0; }
  li { list-style: none; }
}

//
// Definition Lists
// --------------------------------------------------

dl { margin-bottom: 1lh; }

dt { font-weight: bold; }

dt,
dd { margin-bottom: 0.25lh; }
