//
// Type Styles
// =============================================================================

//
// Defaults
// --------

small,
sup,
sub {
  // Use the next smaller size in the scale
  font-size: 100% / $scale-ratio;

  @media ($breakpoint) {
    font-size: 100% / $scale-ratio-secondary;
  }
}

sup,
sub {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.25em;
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "sups" 1;
}

sub {
  bottom: -0.25em;
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "subs" 1;
}

//
// Links
// -----

a {
  background-color: transparent;
  color: getColor(base, primary);
  cursor: pointer;
  text-decoration: none;
  transition: $transition-duration;

  &:hover,
  &:focus { color: darken(getColor(base, primary), 15%); }
}

h1, h2, h3 {
  a {
    color: inherit;

    &:hover,
    &:focus {
      color: getColor(base, primary);
      text-decoration: none;
    }
  }
}


//
// Abbreviations
// -------------
// 1. Change all letters to uppercase
// 2. Turn on small caps for upper and lowercase letters
//

abbr {
  text-transform: uppercase; /* 1 */
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "smcp" 1, "c2sc" 1; /* 2 */
}


//
// Pre, Code, and User Input
// -------------------------

code,
pre,
kbd,
samp {
  font-family: $font-mono;
  font-size: typeScale(1);

  @media ($breakpoint) {
    font-size: typeScale(1, $scale-ratio-secondary);
  }
}

pre { padding: 0.5lh 1em; }

code {
  vertical-align: middle;
  white-space: nowrap;
}

code,
pre {
  background-color: getColor(background, light);
  border: 1px solid getColor(base, lines);
  border-radius: 3px;
  color: darken(getColor(text, primary), 5%);
}

code { padding: 2px 3px; }

pre code {
  background-color: transparent;
  border: none;
  padding: 0;
  vertical-align: inherit;
  white-space: pre;
  font-size: inherit;
}

kbd {
  background-color: transparent;
  border: 1px solid getColor(base, lines);
  border-radius: 3px;
  box-shadow: 0 2px 0 -1px white,
              0 2px 0 darken(getColor(base, lines), 1.5%);
  display: inline-block;
  padding: 0 6px 0;
  white-space: nowrap;
}

samp { vertical-align: bottom; }


//
// Addresses
// ---------

address { font-style: normal; }
