@if $use-conditional == true {
  //------------------------------------
  //  CONDITIONAL
  //------------------------------------
  
  // Thanks to Bootstrap for having a good method of 
  // showing/hiding content via breakpoints
  // (http://getbootstrap.com/css/#responsive-utilities)
  .show-extra-small, 
  .hide-small, 
  .hide-medium, 
  .hide-large, 
  .hide-extra-large, 
  .hide-print, 
  .hide-hd {
    display: block;
    visibility: visible;
  }
  
  .hide-extra-small,
  .show-small,
  .show-medium, 
  .show-large, 
  .show-extra-large, 
  .show-print, 
  .show-hd {
    display: none;
    visibility: hidden;
  }

  @include breakpoint(small) {
    .show-small,
    .hide-extra-small, 
    .hide-medium,
    .hide-large,
    .hide-extra-large {
      display: block;
      visibility: visible;
    }
    
    .hide-small,
    .show-extra-small,
    .show-medium,
    .show-large, 
    .show-extra-large {
      display: none;
      visibility: hidden;
    }
  }
  
  @include breakpoint(medium) {
    .show-medium,
    .hide-small,
    .hide-extra-small, 
    .hide-large,
    .hide-extra-large {
      display: block;
      visibility: visible;
    }
    
    .hide-medium,
    .show-small,
    .show-extra-small,
    .show-large, 
    .show-extra-large {
      display: none;
      visibility: hidden;
    }
  }

  @include breakpoint(large) {
    .show-large,
    .hide-extra-small,
    .hide-small, 
    .hide-medium,
    .hide-extra-large {
      display: block;
      visibility: visible;
    }
    
    .hide-large,
    .show-extra-small,
    .show-small, 
    .show-medium, 
    .show-extra-large {
      display: none;
      visibility: hidden;
    }
  }
  
  @include breakpoint(extra-large) {
    .show-extra-large,
    .hide-extra-small,
    .hide-small, 
    .hide-medium,
    .hide-large {
      display: block;
      visibility: visible;
    }
    
    .hide-extra-large,
    .show-extra-small,
    .show-small, 
    .show-medium, 
    .show-large {
      display: none;
      visibility: hidden;
    }
  }

  // HiDPI and retina 
  @media only screen and (-moz-min-device-pixel-ratio: 1.5), 
       only screen and (-o-min-device-pixel-ratio: 3 / 2), 
       only screen and (-webkit-min-device-pixel-ratio: 1.5), 
       only screen and (min-device-pixel-ratio: 1.5) {
    .show-hd {
      display: block;
      visibility: visible;
    }
    
    .hide-hd {
      display: none;
      visibility: hidden;
    }
  }
}
