//------------------------------------
//  MIXINS
//------------------------------------

//
// Uses `calculate-rem()` to calculate rem font-size and px
// fallback. line-height is calculated with `calculate-line-height()`
// but passing `false` will prevent that.
//
// Parameters:
//  $font-size: the font size (in pixels) to be converted to rem
//  $line-height: set to false if you wish not to output a calculated line-height (defalt is true)
//
// Example:
//  `@include font-size(24px);`
//
//
// Big thanks to inuitcss for inspiration behind this
// (https://github.com/csswizardry/inuit.css/blob/master/generic/_mixins.scss)
@mixin font-size($font-size, $line-height: true) {
  font-size: $font-size;
  font-size: calculate-rem($font-size);

  @if $line-height == true {
    line-height: calculate-line-height($font-size);
  }
}


//
// Proper vendor prefixes are created by passing
// a property, property value, and browser
// vendor (webkit, moz, ms, o, etc).
//
// Parameters:
//  $property: what CSS property to generate vendor prefixes for
//  $value: the value of what was defined in `$property`
//  $vendors: what vendor prefixes to generate (default is none)
//
// Example:
//  `@include vendor(border-radius, 4px, webkit moz ms)`
//
//
@mixin vendor($property, $value, $vendors: "") {
  @each $vendor in $vendors {
    @if $vendor != "" {
      -#{$vendor}-#{$property}: $value;
    }
  }

  #{$property}: $value;
}


//
// Loops through all of the values in the `$breakpoints`
// map and outputs conditional statements used to generate
// media query code.
//
// When calling the mixin, if the parameter matches a key
// from the `breakpoints` map, a media query is output with
// that key's value. If an explicit value is set (ex: 360px)
// then a media query is output with that value.
//
// Parameters:
//  $point: the breakpoint value for the media query output.
//
// Example:
//  `@include breakpoint(extra-small) { ... }`
//
//  `@include breakpoint(360px) { ... }`
//
//
@mixin breakpoint($point) {
  @if type-of($point) == string {
    @each $breakpoint-name, $breakpoint-value in $breakpoints {
      @if $point == $breakpoint-name {
        @media (min-width: $breakpoint-value) {
          @content;
        }
      }
    }
  } @else {
    @media (min-width: $point) {
      @content;
    }
  }
}


//
// Generates property media queries for any CSS property,
// value, and set of breakpoints. Allows you to easily change
// property values based a set of breakpoints.
//
// Parameters:
//  $properties: what CSS property to output inside of the media queries (can have multiple).
//  $values: the value for each property (can have multiple).
//  $responsive-values: what breakpoints to generate media queries for.
//  $use-available-mixins: whether or not to use mixin outputs for properties like `font-size` or `line-height` (default is true)
//
// Example:
//  @include responsive("font-size", 11px,
//    (
//      "small" : 12px,
//        450px : 13px,
//       1100px : 14px,
//      "large" : 15px,
//       1600px : 16px,
//    )
//  );
//
//
@mixin responsive($properties, $values, $responsive-values, $use-available-mixins: true) {
  @each $property in $properties {
    @if $property == "font-size" and $use-available-mixins == true {
      #{$property}: $values;
      #{$property}: ($values / $base-font-size) * 1rem;
    } @else if $property == "line-height" and $use-available-mixins == true {
      #{$property}: ceil($values / $base-line-height) * ($base-line-height / $values);
    } @else {
      #{$property}: $values;
    }
  }

  @each $breakpoint, $value in $responsive-values {
    @if type-of($breakpoint) == string {
      @if(map-has-key($named-breakpoints, $breakpoint)) {
        $breakpoint: map-get($named-breakpoints, $breakpoint);
      } @else {
        $breakpoint: "null";
        @warn "Couldn't find named breakpoint: " + $breakpoint;
      }
    }

    @if $breakpoint != "null" {
      @media screen and (min-width: $breakpoint) {
        @each $property in $properties {
          @if $property == "font-size" and $use-available-mixins == true {
            #{$property}: #{$value};
            #{$property}: ($value / $base-font-size) * 1rem;
          } @else if $property == "line-height" and $use-available-mixins == true {
            #{$property}: ceil($value / $base-line-height) * ($base-line-height / $value);
          } @else {
            #{$property}: #{$value};
          }
        }
      }
    }
  }
}


//
// Create variable-number grid columns given the value
// for variable `$column-number`
//
@mixin grid-setup($number: $column-number) {
  // Assign percentage-based widths for columns
  @for $i from 1 through $number {
    .#{$column-prefix + $i} { width: 100% / $number * $i; }
  }

  @for $i from 1 through $number {
    // Style all but the last column
    $width-of-column: (100% - $gutters * ($number - 1)) / $number;

    .gutters .#{$column-prefix + $i} {
      width: $width-of-column * $i + $gutters * ($i - 1);
    }
  }
}


//
// Create `.push-` classes given the value
// for variable `$column-number`
//
@mixin push-setup($number: $column-number) {
  @for $i from 1 to $number {
    .push-#{$i} { left: 100% / $number * $i; }
  }

  @for $i from 1 to $number {
    .gutters .push-#{$i} { left: 100% / $number * $i - $gutters; }
  }
}


//
// Create `.pull-` classes given the value
// for variable `$column-number`
//
@mixin pull-setup($number: $column-number) {
  @for $i from 1 to $number {
    .pull-#{$i} { right: 100% / $number * $i; }
  }

  @for $i from 1 to $number {
    .gutters .pull-#{$i} { right: 100% / $number * $i - $gutters; }
  }
}


//
// Generates CSS to wrap semantic columns
// in a row.
//
// Example:
//  `@include row()`
//
//
@mixin row() {
  width: 100%;

  &:after {
    clear: both;
    content: " ";
    display: table;
  }
}


//
// Generates CSS for semantic columns.
//
// Parameters:
//   $column: the number of this particular column (determines width)
//   $number-columns: number of columns in the row (default is `$column-number`)
//   $use-gutters: set to `true` if you want column gutters (default is false)
//   $gutter-value: percentage value of the gutters to be applied (default is `$gutters` variable)
//
// Example:
//  `@include column(16, 4, true, 4)`
//
//
@mixin column($column, $number-columns: $column-number, $use-gutters: false, $gutter-value: strip-units($gutters)) {
  @include vendor(background-clip, padding-box !important, webkit);

  @include breakpoint(small) {
    @if $use-gutters == true {
      // Gutter size
      $gutter-size: percentage($gutter-value) * 0.01;

      // Column width
      $width-of-column: (100% - $gutter-size * ($number-columns - 1)) / $number-columns;

      float: left;
      margin-left: $gutter-size;
      width: $width-of-column * $column + $gutter-size * ($column - 1);

      &:first-child { margin-left: 0; }

      &:first-of-type { margin-left: 0; }
    } @else {
      float: left;
      width: percentage(100 / $number-columns * $column) * .01;
    }
  }
}


//
// Generates CSS for pushing a semantic
// column left.
//
// Parameters:
//   $column-width: the width of the column
//   $use-gutters: set to `true` if your column has gutters (default is false)
//   $gutter-value: percentage value of the gutters to be applied (default is `$gutters` variable)
//
// Example:
//  `@include push(16, true)`
//
//
@mixin push($column-width: $column-number, $use-gutters: false, $gutter-value: strip-units($gutters)) {
  @if $use-gutters == true {
    left: 100% / $column-width * $i - $gutters;
  } @else {
    left: 100% / $column-width * $i;
  }
}


//
// Generates CSS for pushing a semantic
// column right.
//
// Parameters:
//   $column-width: the number of this particular column (determines width)
//   $use-gutters: set to `true` if your column has gutters (default is false)
//   $gutter-value: percentage value of the gutters to be applied (default is `$gutters` variable)
//
// Example:
//  `@include pull(16, true)`
//
//
@mixin pull($column-width: $column-number, $use-gutters: false, $gutter-value: strip-units($gutters)) {
  @if $use-gutters == true {
    right: 100% / $column-width * $i - $gutters;
  } @else {
    right: 100% / $column-width * $i;
  }
}


//
// Generates CSS for a responsive content container.
//
// Parameters:
//   $extra-small-size:  (default is 90%)
//   $small-size:  (default is 620px)
//   $medium-size:  (default is 768px)
//   $large-size:  (default is 960px)
//   $extra-large-size:  (default is 1140px)
//
// Example:
//  `@include container()`
//
//
@mixin container($extra-small-size: 90%, $small-size: 620px, $medium-size: 768px, $large-size: 960px, $extra-large-size: 1140px) {
  & {
    margin: 0 auto;
    width: $extra-small-size;

    @include breakpoint(small) { & { width: $small-size; } }

    @include breakpoint(medium) { & { width: $medium-size; } }

    @include breakpoint(large) { & { width: $large-size; } }

    @include breakpoint(extra-large) { & { width: $extra-large-size; } }
  }
}


//
// Generates CSS that will clear both left
// and right floats.
//
// Example:
//  `@include clearfix()`
//
//
@mixin clearfix() {
  & {
    &:after{
     content: "";
     display: table;
     clear: both;
    }
  }
}
